<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shanfu.tianxia">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--<uses-permission android:name="Android.permission.WRITE_APN_SETTINGS"/>-->

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    //友盟权限
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".appconfig.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.futurestud.tutorials.glide.glidemodule.SimpleGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="io.futurestud.tutorials.glide.glidemodule.CustomImageSizeGlideModule"
            android:value="GlideModule" />
        <!-- <meta-data -->
        <!-- android:name="UMENG_APPKEY" -->
        <!-- android:value="58e8efa59f06fd29cc00171d" /> -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="LIANXIANGKE" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58fa017f5312dd519400125a" />
        //友盟配置
        <!-- <activity -->
        <!-- android:name=".wxapi.WXEntryActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CommodityDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WithdrawalsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LocationCityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />

        <!-- 05e3bc7a01c74b7e07a0f304771ade24 -->

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="05e3bc7a01c74b7e07a0f304771ade24" />

        <activity
            android:name=".ui.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RegeditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChangePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingLoginPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AuthenticationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SetUpPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BindingBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RevenueInquiryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OnLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ConsumptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyMerchantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SelectCityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.RouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InfoWindowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BusRouteDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DriveRouteDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WalkRouteDetailActivity"
            android:screenOrientation="portrait" />

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FrogetPassWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ForgetPwdNextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EvaluationMerchantActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.SetUpPwdNextActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.PayWebViewActivity" />
        <activity android:name=".ui.ClipImageActivity" />
        <activity android:name=".ui.TestActivity" />
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoSelectorActivity" />
        //选择图片
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoPreviewActivity" />
        //预览图片
        <activity android:name=".ui.QueryIncomeActivity" />
        <activity android:name=".ui.NiChengActivity" />
        <activity android:name=".ui.FanHuiMingXiActivity" />
        <activity android:name=".ui.PaymentActivity" />
        <activity android:name=".ui.CaptureTwoActivity" />
        <activity android:name=".ui.ForgetPayPwdActivity" />
        <activity android:name=".ui.ForgetPayPwdNextActivity" />
        <activity android:name=".ui.MyQrCodeActivity" />
        <activity android:name=".ui.MyInComeActivity" />
        <activity android:name=".ui.MyWalletActivity" />
        <activity android:name=".ui.WalletAuthenActivity" />
        <activity android:name=".ui.WalletPayActivity" />
        <activity android:name=".ui.RecivePayMentActivity" />
        <activity android:name=".ui.ReciveMoneyActivity" />
        <activity android:name=".ui.MyLianxpActivity" />
        <activity android:name=".ui.MyBankManageActivity" />
        <activity android:name=".ui.MyWalletBalanceActivity" />
        <activity android:name=".ui.ShouZhiDetailActivity" />
        <activity android:name=".ui.SzDetialNextActivity" />
        <activity android:name=".ui.ExchangeZoneActivity" />
        <activity android:name=".ui.ZoneSelectActivity" />
        <activity android:name=".ui.TopUpRechangeActivity" />
        <activity android:name=".ui.WalletWithDrawActivity" />
        <activity android:name=".ui.ZoneGoodsDetailsActivity" />
        <activity android:name=".ui.ZoneFrimOrderActivity" />
        <activity android:name=".ui.ZonePaymentSuccessActivity" />
        <activity android:name=".ui.TraceActivity" />
        <activity android:name=".ui.MyShopAdressActivity" />
        <activity android:name=".ui.AddAdressActivity" />
        <activity android:name=".ui.RedLxpDetailsActivity" />
        <activity android:name=".ui.GreenLxpDetailsActivity" />
        <activity android:name=".ui.BlueLxpDetailsActivity" />
        <activity android:name=".ui.YellowLxpDetailsActivity" />
        <activity android:name=".ui.BrownLxpDetailsActivity" />
        <activity android:name=".ui.CheckForTheDetailActivity" />
        <activity android:name=".ui.DropShipingActivity" />
        <activity android:name=".ui.ShippedActivity" />
        <activity android:name=".ui.PassWordManagementActivity" />
        <activity android:name=".ui.SupportBankActivity" />
        <activity android:name=".ui.RedPacketRecordActivity" />
        <activity android:name=".ui.SelectRedPacketActivity" />
        <activity android:name=".ui.TopSelectBankActivity" />
        <activity android:name=".ui.WalletBalancePayActivity" />
        <activity android:name=".ui.WithDrawSucessActivity" />
        <activity android:name=".ui.RealNameFirstActivity" />
        <activity android:name=".ui.RealNameSecondActivity" />
        <activity android:name=".ui.MyBankCardPwdActivity" />
        <activity android:name=".ui.BindBankNextActivity" />
        <activity android:name=".ui.BankCardUnBindActivity" />
        <activity android:name=".ui.ForgetPayPwdThirdActivity" />
        <activity android:name=".ui.RedPayPacketRecordActivity" />
        <activity android:name=".ui.SelectRedPayPacketActivity" />
        <activity android:name=".ui.SettingRealInfoActivity" />
        <activity android:name=".ui.MerchantsInActivity" />
        <activity android:name=".ui.SettingRealInfoNextActivity" />
        <activity android:name=".ui.BindAccountActivity"></activity>
    </application>

</manifest>